*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#main{

}
/* Header */
#header{
    height: 46px;
    background-color: rgb(0, 0, 0);
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav li{
    position: relative;
}
#nav > li{
    /* color: #fff; */
    display: inline-block;
}
#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav >li:hover a,#nav > li:hover > a,#nav li .icon-down:hover{
    background-color: #ccc;
    color: #000;
}
#nav .subnav{
    display: none;
    position: absolute;
    min-width: 160px;
    top: 100%;
    left:0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav a{
    color: #000;
}
#nav li .icon-down{
    position: absolute;
    width: 20px;
    color: #fff !important;
    left:70%;
    top: 50%;
    transform: translateY(-50%);
}
#nav li:hover .icon-down{
    color: black !important;
}
/* #header.search-btn{
    float: right;
}
#header .search-icon{
    
    color: #000;
    font-size: 20px;
} */
/* slide */
#slider{

}
/* content */
#content{

}
/* footer */
#footer{

}