*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    clear: both;
}
/* Header */
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: rgb(0, 0, 0);
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav li{
    position: relative;
}
#nav > li{
    /* color: #fff; */
    display: inline-block;
}
#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav >li:hover a,#nav > li:hover > a,#nav li .icon-down:hover{
    background-color: #ccc;
    color: #000;
}
#nav .subnav{
    display: none;
    position: absolute;
    min-width: 160px;
    top: 100%;
    left:0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav a{
    color: #000;
}
#nav li .icon-down{
    position: absolute;
    width: 20px;
    color: #fff !important;
    left:70%;
    top: 50%;
    transform: translateY(-50%);
}
#nav li:hover .icon-down{
    color: black !important;
}
#header .search-icon:hover{
    background-color: red;
    /* color: red; */
    opacity: 0.8;
}
#header .search-icon{
    float: right;
    height: 44px;
    width: 40px;
    transform: translateY(-45px);
    padding: 4px;
}
/* slide */
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')top center / cover no-repeat;
}
#slide .text-content{
    position: absolute;
    bottom: 47px;
}
#slider .text-heading,#slider .text-description{
    text-align: center;
    color: #fff;
    width: 100%; 
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
}
/* content */
#content .content-section{
    width: 800px;
    padding: 64px 0;
    margin-top:10px;
    margin-left: auto; /*Tự động đẩy ra giữa khi cho left, right auto*/
    margin-right: auto;
}
#content .section-heading{
    font-size: 30px;
    letter-spacing: 4px;
}
#content .section-subheading{
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6; /*Tạo độ mờ cho chữ*/
}
#content .section-heading,#content .section-subheading{
    text-align: center;
}
#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify; /*căn chữ đều 2 bên*/
    line-height: 1.6;/*Khoảng cách dòng chữ*/
}
#content .member-list{
    margin-top: 48px;
}
#content .member-item{
    float: left; 
    width: 33.33333%;
    text-align: center;
}
#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top: 15px;
    width: 200px;
    border-radius: 4px; /*bo góc khung*/
}
/* footer */
#footer{

}