/* PC */
@media(min-width: 1024px){

}
/* Mobile */
@media (max-width: 740px){
    .PR{
        height: 75px;
    }
    .places-list{
        width: 100%;
    }
    .form-submitbtn{
        width: 100%;
        height: 40px;
    }
    .place-btn{
        width: 100%;
        transform: translateX(-47px);
    }
    #header{
        overflow: hidden;
    }
    #header .search-icon{
        display: none;
    }
    #nav{
        display: block;
    }
    #nav li a{
        padding: 1px 24px;
    }
    #nav>li{
        display: block;
    }
    #nav>li:first-child{
        display: inline-block;
    }
    #nav li .icon-down{
        transform: translate(-1320%, -50%) !important;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }
    #content .member-item{
        margin-top: 30px;
        width: 100%;
    }
    .contact-left{
        width: 100%;
    }
    .contact-right{
        margin-top: 5px !important;
    }
}